# Twitter自动注册系统依赖
# Twitter自动注册系统依赖
# 基于 Playwright + Stealth

# Playwright - 核心浏览器自动化框架
playwright>=1.40.0

# Playwright Stealth - 反检测插件
#playwright-stealth==1.0.66
playwright-stealth==2.0.0
# 其他依赖
requests>=2.25.0
